
body {
    font-family: Helvetica, sans-serif;
    color: #44558f;
}

div.input_pata {
    margin-top: 5px;
    margin-left: 20px;
}

.relative {
    position: relative;
    width: 300px;
}
.absolute {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
